/* =====================
   GLOBAL
===================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
  background: #ffffff;
  color: #111;
}

.head-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

section {
  padding: 100px 0;
}

h1,
h2,
h3 {
  font-weight: 800;
}

.section-title {
  font-size: 32px;
  margin-bottom: 12px;
}

.section-desc {
  color: #666;
  margin-bottom: 48px;
}
